/**
 ** This file assume the good working conditions
 ** No styling (color, background,...) should be made here, only positioning and management
 **/
.clr{ clear: both; }
#hrmenu{ height:55px; }
#hrmenu.horizontal .hrmenu_wrapper{ width: 100%; }
#hrmenu.horizontal .hrmenu_wrapper #hrmenu_logo{ display: none; }
#hrmenu.horizontal .hrmenu_wrapper .hrmenu_wrapper_menu{ width: 100%; }

#hrmenu.horizontal ul.nav_hrmenu{
    height: inherit; padding : 0; margin : 0; overflow: visible !important;
    display: block !important; float: none !important; visibility: visible !important; filter: none;
    list-style: none;
}
#hrmenu.horizontal ul.nav_hrmenu li.hrmenu{
    background: none; list-style: none; vertical-align: middle; filter: none;
}
#hrmenu.horizontal ul.nav_hrmenu li.level1{
    padding:5px 15px; height: 40px; margin-top:7px; font-size:20px; filter:none; float:left;
}
#hrmenu.horizontal ul.nav_hrmenu li.level1 > a { color:white; }
#hrmenu.horizontal ul.nav_hrmenu li.level1 > a:hover { color:lightgray; }
#hrmenu.horizontal ul.nav_hrmenu li.parent.level1 > a, #hrmenu.horizontal ul.nav_hrmenu li.parent.level1 > span{
    filter:none; margin-top:5px;
}
/** item level **/
#hrmenu.horizontal ul.nav_hrmenu li.parent div.hrmenu_float a.hrmenu{ width:160px;  text-decoration: none; }
#hrmenu.horizontal ul.hrmenu div.hrmenu_title, #hrmenu.horizontal ul.hrmenu_2 div.hrmenu_title{ width: inherit; }
#hrmenu.horizontal ul.nav_hrmenu ul.hrmenu_2{
    background: transparent;  margin : 32px 0 0 0 !important;  padding : 0 !important;
    box-shadow: none !important;   width : 100%;
    position: static !important;  overflow: visible !important;  display: block !important;  float: none !important; filter:none;
}
#hrmenu.horizontal ul.nav_hrmenu ul.hrmenu_2 li.hrmenu{
    width:160px; padding : 1px 0 0 0;  background : none; display : block; float: none;
}
#hrmenu.horizontal ul.nav_hrmenu li div.hrmenu_float{ margin-top: 10px; background : rgba(200, 200, 200, .7); }
#hrmenu.horizontal ul.nav_hrmenu li.hrmenu div.hrmenu_float div.hrmenu_float{ border : 1px solid #707070; margin : -25px 0 0 160px;}

/** stop drop down **/
#hrmenu.horizontal ul.nav_hrmenu li.hrmenu.no_drop_down div.hrmenu_float, #hrmenu.horizontal ul.nav_hrmenu li.hrmenu div.hrmenu_float li.hrmenu.no_drop_down div.hrmenu_float{
    position: static;  background: none; border: none; left: auto; margin: 3px;
}
#hrmenu.horizontal ul.nav_hrmenu li.level1.parent ul.hrmenu_2 li.hrmenu.no_drop_down li.hrmenu {background: none; text-indent: 5px;}
#hrmenu.horizontal ul.nav_hrmenu ul.hrmenu li.hrmenu.level1.parent ul.hrmenu_2 li.hrmenu.parent.no_drop_down > a,
#hrmenu.horizontal ul.nav_hrmenu li.hrmenu.level1.parent ul.hrmenu_2 li.hrmenu.parent.no_drop_down > span.separator { background:  none;}
#hrmenu.horizontal ul.nav_hrmenu li.hrmenu > a img{margin : 3px; border : none;}
#hrmenu.horizontal ul.nav_hrmenu li.hrmenu img{border : none; clear: both;}
#hrmenu.horizontal ul.nav_hrmenu li a.hrmenu, #hrmenu.horizontal ul.nav_hrmenu li span.separator{
    text-decoration : none; text-indent : 2px; outline : none; background : none; white-space: normal;  border : none; padding : 0;
}